body {
  font-family: 'Baloo Bhaijaan 2', cursive;
  margin: 0px;
}

body .accueil {
  background-image: url("../images/bg_image.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .accueil h1 {
  color: #fff;
  font-size: 50px;
}

body .accueil .bouton_lecteur {
  background-color: black;
  width: 400px;
  height: 80px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .accueil .bouton_lecteur a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

body .lecteur {
  background-image: url("../images/bg_lecteur.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .lecteur h1 {
  color: #224bfd;
  font-size: 40px;
  margin: 0px;
}

body .lecteur .container {
  background: #111;
  border-radius: 25px;
}

body .lecteur .container .headerBox {
  background-image: url("../images/bg_headerBox.jpg");
  background-size: cover;
  background-position: center;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px 25px 0px 0px;
}

body .lecteur .container .headerBox input {
  height: 35px;
  border-radius: 10px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bolder;
}

body .lecteur .container .liste {
  height: 200px;
  cursor: pointer;
  overflow-y: scroll;
}

body .lecteur .container .liste :hover {
  background-color: #333;
}

body .lecteur .container .liste .surbrillance {
  background-color: #555;
}

body .lecteur .container .liste .musiques {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  border-bottom: 2px solid #222;
}

body .lecteur .container .liste .musiques.jouer {
  background-color: #02023d;
}

body .lecteur .container .liste .musiques .titre, body .lecteur .container .liste .musiques .artiste, body .lecteur .container .liste .musiques .temps {
  padding-left: 80px;
  width: 150px;
}

body .lecteur .container .footerBox {
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 2px solid #f5f5f5;
}

body .lecteur .container .footerBox .controleChanson {
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 2px solid #f5f5f5;
}

body .lecteur .container .footerBox .controleChanson .image {
  margin-top: 50px;
}

body .lecteur .container .footerBox .controleChanson .image img {
  width: 100px;
  height: 100px;
}

body .lecteur .container .footerBox .controleChanson .boitePlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .lecteur .container .footerBox .controleChanson .boitePlay .tempsDetoulant {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .lecteur .container .footerBox .controleChanson .boitePlay .tempsDetoulant input {
  width: 250px;
}

body .lecteur .container .footerBox .controleChanson .boitePlay .boutonPlay {
  padding: 10px;
  background-color: #2075ad;
  border: 1px solid #333;
  border-radius: 18px;
  color: white;
  cursor: pointer;
  margin-right: 3px;
}

body .lecteur .container .footerBox .controleChanson .volume {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .lecteur .container .footerBox .controleChanson .volume input {
  cursor: pointer;
}

body .lecteur .container .tagsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0px;
  height: 55px;
  padding: 5px 0 0 5px;
  border-top: 3px solid #222;
  border-radius: 0px 0px 25px 25px;
}

body .lecteur .container .tagsBox .tag {
  background-color: #111;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */