<main class="lecteur">

    <h1>Votre choix musical</h1>

    <div class="container">
        <div class="headerBox">
            <input type="text" placeholder="Recherche">
        </div>
        <div class="liste">
            <div
                class="musiques"
                v-for="musique in musiques.filter(filtrerMusique)"
                @click="retourneChanson(musique.image, musique.temps, musique.tags)"
                
                >
                <div class="titre">
                    {{musique.titre}}
                </div>
                <div class="artiste">
                    {{musique.artiste}}
                </div>
                <div class="temps">
                    {{musique.temps}} 
                </div>  
            </div>
        </div>
        <div class="footerBox">
            
            <div class="image">
                <img :src="'images/' + image">
                    </div>
                    <div class="boitePlay">
                        <div class="tempsDetoulant">
                    <span class="runing_time">{{avancement_temps}}</span>
                    <input type="range" value="0">
                    <span class="song_long">{{temps}}</span>
                    
                </div>
                <div class="boutonPlay">
                    <div class="playPause"
                             @click="togglePlay">
                        {{ jouer ? 'pause' : 'play'}}
                    </div>   
                </div>
            </div>
            <div class="volume">
                <input type="range" min="0" max="1" step="0.02">
                <span>Volume</span>
            </div>
            
        </div>
        <div class="tags">
            <div class="tag">
                <span>{{tag.tags}}</span>
            </div>
        </div>
    </div>
    
    
</main>

<!-- <div v-for="tag in musique.tags"> -->
    
    <!-- :class="{jouer:class_active}" -->             